DISCORD_TOKEN=your_discord_token_here
DISCORD_GUILD_ID=000000000000000000
TARGET_CHANNEL_ID=000000000000000000
DISCORD_WEB_HOOK=your_webhook_url
IN_GAME_CHAR_NAME=InGameCharacterName
NETWORK_INTERFACE=Ethernet
